<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
.require {
    color: #666;
}
</style>
<body>
<div ng-controller="JobController as ctrl">
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
    		<form ng-submit="ctrl.edit()" method="POST">
    		    
    		    <div class="form-group">
    		        <label for="title">Title<span class="require">*</span></label>
    		        <input type="text" class="form-control" ng-model="job.title" name="title" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="description">Description<span class="require">*</span></label>
    		        <textarea rows="5" class="form-control" ng-model="job.description" name="description" ></textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="title">Post<span class="require">*</span></label>
    		        <input type="text" class="form-control" ng-model="job.post" name="post" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="title">Salary<span class="require">*</span></label>
    		        <input type="text" class="form-control" ng-model="job.salary" name="salary" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="title">Company Name<span class="require">*</span></label>
    		        <input type="text" class="form-control" ng-model="job.company_name" name="company_name" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">
    		            Update
    		        </button>
    		        <button type="reset" class="btn btn-default">
    		            Reset
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>
</div>
</body>
</html>