<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-controller="JobController as ctrl">
<div ng-controller="JobApplicationController as jactrl">
<div ng-hide="jobs.length"><center><h1>No Jobs To Display</h1>
<a ng-hide="currentuser.id" href="#/login" class="btn btn-success">Post A Job</a>
<a ng-show="currentuser.id" href="#/postAJob" class="btn btn-success">Post A Job</a>
</center>
</div>
<div ng-show="jobs.length" class="col-md-12">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h1 class="panel-title" style="font-size:30px"><b>Available Jobs You Can Apply For</b></h1>
                  </div>
                  <div class="col col-xs-6 text-right">
                  <a href="#/postAJob" class="btn btn-success">Post A Job</a>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list" style="text-align:center">
                  <thead>
                    <tr>
                        <th style="text-align:center">Title</th>
                        <th style="text-align:center">Description</th>
                        <th style="text-align:center">Post</th>
                        <th style="text-align:center">Salary</th>
                        <th style="text-align:center">Company Name</th>
                        <th style="text-align:center">Posted By</th>
                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                        <th style="text-align:center" ng-show="currentuser.id">Applied By</th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr ng-repeat="job in jobs">                                                  
                            <td>{{job.title}}</td>
                            <td>{{job.description}}</td>
                            <td>{{job.post}}</td>
                            <td>{{job.salary}}</td>
                            <td>{{job.company_name}}</td>
                            <td>{{job.user_id}}</td>                            
                            <td>
                            <a href="#" ng-if="job.user_id==currentuser.id" ng-click="ctrl.update(job.id)"><span class="glyphicon glyphicon-pencil btn btn-success">&nbsp;Edit</span></a>
                            <a ng-if="job.user_id==currentuser.id" href="#" ng-click="ctrl.remove(job.id)"><span class="glyphicon glyphicon-trash btn btn-warning">&nbsp;Delete</span></a>
                            <a href="#" ng-if="job.user_id==currentuser.id" ng-click="ctrl.updateStatus(job.id)" class="btn btn-success">Close This Job</a>                           
                            <a href="#/applyJob" ng-click="jactrl.apply(job.id)" ng-show="currentuser.id" ng-if="currentuser.id != job.user_id" class="btn btn-success">Apply Job</a>
                            <a href="#/login" ng-hide="currentuser.id" class="btn btn-success">Apply Job</a>
                            </td>                   
                            <td ng-if="job.user_id==currentuser.id" ><a href="#" ng-click="jactrl.displayByJobId(job.id)" class="btn btn-success">Applied Candidates</a></td>        
                         </tr>
                 </tbody>
        </table>
     </div>
  </div>
</div>
</div>
</div>
</body>
</html>