<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CollaborationFrontEnd</title>
</head>
<body>
<div ng-controller="UserController as ctrl">
<div ng-controller="BlogController as bctrl">
<div ng-controller="ForumController as fctrl">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Collaboration Project</a>
    </div>
    <ul class="nav navbar-nav">
      	<li class="active"><a href="#/">Home</a></li>
      	<li><a href="#" ng-click="bctrl.display()">Show Blogs</a></li>
      	<li><a href="#" ng-click="fctrl.display()">Show Forums</a></li>
    	<li ng-show="currentuser.id"><a href="#/createBlog">Create Blog</a></li>
    	<li ng-show="currentuser.id"><a href="#/createForum">Create Forum</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<li ng-hide="currentuser.id"><a href="#/login">Login</a></li>
    	<li ng-hide="currentuser.id"><a href="#/register">Register</a></li>
    	<li ng-show="currentuser.id"><a href="#/myProfile">My Profile</a></li>
    	<li ng-show="currentuser.id"><a href="#/" ng-click="ctrl.logout()">Welcome : {{currentuser.name}} | Logout</a></li>
    </ul>
  </div>
</nav>
</div>
</div>
</div>
</body>
</html>