<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CollaborationFrontEnd</title>
<style>
#navigation,.navbar{
	background-image:url('CollaborationProject/resources/images/bg1.jpg');
	padding:20px;
}
#effect:hover{
	font-size: 200%;
}
.container-fluid{
	background-color: transparent !important;
    color: #fff;
}
</style>
</head>
<body>
<div ng-controller="UserController as ctrl">
<div ng-controller="BlogController as bctrl">
<div ng-controller="ForumController as fctrl">
<div ng-controller="FriendController as frctrl">
<nav class="navbar" id="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:red" href="#/">Collaboration Project</a>
    </div>
    <ul class="nav navbar-nav">
      	<li id="effect" class="active"><a href="#/" style="color:blue">Home</a></li>
      	<li id="effect"><a href="#/chat" style="color:blue">Chat Online</a></li>
      	<li id="effect" ng-show="currentuser.id"><a href="#" ng-click="frctrl.fetch()" style="color:white">Friends</a></li>
    	<li id="effect" ng-show="currentuser.id"><a href="#/createBlog" style="color:white">Create Blog</a></li>
    	<li id="effect" ng-show="currentuser.id"><a href="#/createForum" style="color:white">Create Forum</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
         <!--Start User Dropdown Menu Contents -->
      <li id="effect" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" style="color:blue"><b ng-show="currentuser.id">{{currentuser.name}}</b><i class="fa fa-user-circle-o fa-fw fa-lg"></i>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          	<li id="effect" ng-hide="currentuser.id"><a href="#/login" style="color:blue"><i class="fa fa-sign-in fa-fw"></i>Login</a></li>
  			<li id="effect" ng-hide="currentuser.id"><a href="#/register" style="color:red"><i class="fa fa-registered fa-fw"></i>Register</a></li>
  			<li id="effect" ng-show="currentuser.id">
  			<a href="#/myProfile"><i class="fa fa-cog fa-fw" style="color:red"></i>My Profile</a>
  			<a href="#" ng-click="ctrl.logout()"><i class="fa fa-sign-in fa-fw" style="color:blue"></i>Logout</a></li>
        </ul>
      </li>
      <!--End User Dropdown Menu Contents -->
      </ul>
  </div>
</nav>
</div>
</div>
</div>
</div>
</body>
</html>